/*  NOTES 
Use :hover and :focus to add movement to nav element


*/

/* helps older browsers understand new tags */
header, section, footer, aside, nav, article, figure, figcaption {
	display: block;
}

/*border box settings*/
html { box-sizing: border-box; } *, *:before, *:after { box-sizing: inherit; }

/*body color and centering*/
body {
	background: white;
	margin: 0 auto;
}

/* controls header image */
h1 {
	margin: 15px 10px 10px 5px;
	display: inline-block;
}

/* makes bullets go away */
ul {
	display: inline;
}

/* makes nav display inline */
li {
	display: inline;
	padding: 15px;
}

/*aligns nav items and pushes them from top of container*/
nav {
	float: right;
	margin-top: 20px;
}

/*styles links to have padding around and more clickable and no underline on links*/
nav a {
	padding: 10px;
	text-decoration: none;
}

header {
	margin: 0 0 20px 0 !important;
	display: block;
}

.header-nav {
	margin: 50px 0 0 10px;
	padding-top: 20px;

}

.clear {
	clear: both;
}
/*gives full space of container*/
.clearfix {
	overflow: auto;
}

div .main-bar { 	
	clear: both;
	margin: 20px auto;

}

.rotator {
	background: pink;
	/*width: 61%;*/
	height: 300px;
	/*margin: 15px 20px 20px 45px;*/
	float: left;
}

/*have header and footer extend*/
header, footer {
	margin-left: 50px;
	margin-right: 50px;
}

aside {
	background: pink;
	/*width: 28%;*/
	height: 300px;
	/*margin: 15px 45px 20px 20px;*/
	float: right;
}

.second-bar {
	height: 600px;
}

/* clears the float so the nav goes back into header */
main {
	background: pink;
	clear: right;
}

article {
	background: pink;
	/*margin: 30px 12px 30px 12px;*/
	padding: 5px;
	/*width: 28%;*/
	height: 160px;
	float: right;
}

.emailsign {
	height: 300px;
}
 
 /*article:last-child, article:first-child {
 	margin-left: 45px;
 	margin-right: 45px;
 }*/


.call-out {
	margin: 0 auto;
	width: 100%;
	height: 600px;
	background-image: url("images/desert.JPG");
	background-position: center;
	 -webkit-background-size: cover;
 	 -moz-background-size: cover;
 	 -o-background-size: cover;
  	background-size: cover;
}

.mobile-only {
	display: none;
}

/*One Percent CSS debugging*/
.space {
	margin-top: 20px !important;
}

/* MOBILE QUERY */
@media (max-width: 700px) {
.desktop-only {
	display: none;
}
article {
	height: 300px;
}
.mobile-only {
	display: inline;
}
.btn {
	display: inline;
}
}


/*for nav display on smaller windows
@media (max-width: 999px) {
	h1 {
		display: block;
	}
}*/


/*this may cause you problems if you use this class for other things that you don't want to display inline */
/*
aside, article {
	display: block;
	width: 90%;

}

}*/




/* STYLING FORM
form {
	background: white;
	color: black;
}
*/