/*  

Notes for later thoughts on CSS




use :hover and :active */


body {
	background: white;
}

header {
	background: purple;
}

footer {
	background: purple;
}

/*nav style*/
nav a {
	color: white;
	text-transform: capitalize;
	font-weight: bold;

}


/* FONTS*/
li, h1, h2, h3, h4, h5, h6, nav {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}

p {
 	font-family: 'Lora', serif;
 	font-size: 16px;
 	padding-bottom: 6px;
}

/* nav link hover*/
nav a:hover {
	background: gray;
	color: black;
}

article h1 {
	margin: 2px;
	text-align: center;
	border-bottom: 1px solid black;
	border-width: 80%;
	border-spacing: 5px;
	font-size: 24px;
}

article p {
	margin: 2px;
}

/*Hamburger style*/
.btn {
	color: white;
	font-size: 2em;
	padding: 10px;

}

a {
	font-weight: bold;
}

li {
	font-size: 24px;
}