/*  

Notes for later thoughts on CSS




use :hover and :active */

* {
 font-family: 'Lora', serif;
 text-align: left;
}
body {
	background: white;
}

header {
	background: purple;
}

footer {
	background: purple;
}

nav a {
	color: white;
	text-transform: capitalize;
	font-weight: bold;

}

/* FONTS*/
li, h1, h2, h3, h4, h5, h6, {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}

nav a:hover {
	background: gray;
	color: black;
}

.btn {
	color: white;
	font-size: 2em;
	padding: 10px;

}